@page "{name}"
@model CityDetails
@{
    ViewData["Title"] = "Detalhes da Cidade";
}

<h2>@Model.City?.Name (@Model.City?.Country?.CountryName)</h2>

@if (Model.City?.Properties?.Any() == true)
{
    <ul>
        @foreach (var property in Model.City.Properties)
        {
            <li><a asp-page="/EditProperty" asp-route-id="@property.Id">@property.Name</a></li>
        }
    </ul>
}
else
{
    <p>Nenhuma propriedade cadastrada.</p>
}