@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center col-6 mx-auto">
    <h1>Cidades Disponiveis</h1>
    <ul>
        @foreach (var city in Model.Cities)
        {
            <li><a asp-page="/CityDetails" asp-route-name="@city.Name">@city.Name</a></li>
        }
    </ul>
</div>